<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <!--<script src="javascripts/my_app.js"></script>-->
</head>

<body>
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome. You are logged in as
            <%= username %>
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User</a>
        <p class="place-code">I have to do something Here
        </p>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="colorText">
    Color
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>




    <div ng-controller="MainCtrl">
        <h1> Enter a new comment </h1>

        <div class="block-form">
            <form ng-submit="addCandidate()">
                <div class="block-inputs">
                    <!--<input type="text" placeholder=<%= username %> ng-model="formContent"></input><br>-->
                    <input type="text" placeholder="Username" ng-model="formContent"></input>
                    <input type="text" placeholder="Date" ng-model="dateContent"></input><br>
                    <input type="text" placeholder="Comment" ng-model="commentContent"></input>
                </div>
                <div class="block-button-submit">
                    <button type="submit" class="button">Add Comment</button>
                </div>
            </form>
        </div>

        <h1>All Comments</h1>
        <div class="current-Products">
    
            <div ng-repeat="candidate in candidates | orderBy:['Username', 'Comment']">
                <!--<div class="break"></div>-->
                <!--<div class="each-element">-->
                    <div class="Comment-div">
                        <span class="glyphicon glyphicon-remove" ng-click="delete(candidate)"></span>
                        <h3 id='commentSetup'>{{candidate.Username}} -- {{candidate.Date}}</h3><hr>
                        <p id='commentText'>{{candidate.Comment}}</p>
                    </div>
                <!--</div>-->
                <!--<div class="break"></div>-->

            </div>
        </div>
    </div>












</body>


</html>
